#slidebox_cookie {
  position: fixed;
  bottom: 0;
  right: 36px;
  z-index: 1;
  height: 23px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

#slidebox_manual {
  position: fixed;
  bottom: 0;
  right: 23px;
  z-index: 1;
  height: 23px;
  padding: 5px 10px 5px 10px;
}

#slidebox_manual a.open {
  background: transparent url('../images/open.gif') no-repeat top left;
  width: 13px;
  height: 13px;
  position: absolute;
  cursor: pointer;
}

#slidebox_manual a.open:hover {
  background-position: 0px -13px;
}

#slidebox {
  width: 240px;
  padding: 5px 10px 15px 10px;
  background-color: #fff;
  border-top: 3px solid #399;
  position: fixed;
  bottom: 0px;
  right: -270px;
  box-shadow: -2px 0px 5px #aaa;
  z-index: 2;
}

#slidebox p,
#slidebox a.more {
  font-size: 11px;
  text-transform: uppercase;
  font-family: Arial,Helvetica,sans-serif;
  letter-spacing: 1px;
  color: #555;
}

#slidebox a.more {
  cursor: pointer;
}

#slidebox a.more:hover {
  text-decoration: underline;
}

#slidebox h2 {
  font-family: Garamond, Palatino, 'Hoefler Text', 'Palatino Linotype', serif;
  margin: 0.25em 1em 0.25em 0;
  font-size: 1.2em;
}

#slidebox a.close {
  background: transparent url(../images/close.gif) no-repeat top left;
  width: 13px;
  height: 13px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

#slidebox a.close:hover {
  background-position: 0px -13px;
}
